/.vscode
/ascii.py
/asscii.p.py
/barchart.py
/forloop.py
/getsumv2.py
/Hello .java
/histogram.py
/int get sum(int number 1,int number 2).cpp
/palindrome.py
/profile_default
/program.c
/program.exe
/program.py
/program1.py
/program2.py
/reversestring.py
/stringlength.py
/sumofnumbers.py
/task2.py
/Untitled-1.c
/Untitled-1.py
/untitled.c
/vowels.py